body {
  background: #ffffff;
    
}
.emergency {
    background: #d84545;
}
.alert {
    background: #d8457e;
}
.error {
   background: #f57722;
}
.warning {
   background: #f5a933; 
}
.notice {
   background: #b1e441; 
}
.info {
   background: #73bc21; 
}
.debug {
   background: #32a6c2; 
}

#image {
    background: transparent;
    padding-top: 0.3em;
    padding-bottom: 0;
}
#croix {
    width:25%;
    height:1em;
}
#infos {
    
    width: 20%;
}
