
        .sticker {
            position: relative;

            margin-left: 45%;
            margin-top:  10%;
            width: 128px;
            height: 128px;
           
        }
        .example-1 .sticker-img {
            background-image: url(homeVign2.png);
            

        }
        .example-2 .sticker-img {
            background-color: #ff4a85;
        }
        .example-2 .sticker-shadow {
            opacity: 0.6;
        }
        #vignCorner {
            width: 100%;
            margin-left: 10%;
            margin-top: 10%;
        }