@font-face {            
        font-family: 'black';
        src: url('./codeLight.woff2') format('woff2'),
                url('./codeLight.woff') format('woff');
    

}
@-webkit-keyframes emergency {
       0% {
        left: 0;
        top: 0;
        background: white;
    } 
    15% {
        left: 25%;
        top:0%;
        background: red;
    }
    25% {
        top: 0;
        left: 50%;
        background: white;
    }
    50% {
        top:0;
        right:0;
         background: red;
    }
    60% {
        top:25%;
        right:0;
        background: white;
        
    }
    70% {
        top:40%;
        right:0;
         background: red;
    }
    80% {
        top:50%;
        right:0;
        background: white;
    }
    90% {
        top:75%;
        right:0;
         background: red;
    }
    100% {
        
        right:0;
        bottom:0;
        width:20em;
        height:10em;
       background: white;

    }
}
@-moz-keyframes emergency {
           0% {
        left: 0;
        top: 0;
        background: white;
    } 
    15% {
        left: 25%;
        top:0%;
        background: red;
    }
    25% {
        top: 0;
        left: 50%;
        background: white;
    }
    50% {
        top:0;
        right:0;
         background: red;
    }
    60% {
        top:25%;
        right:0;
        background: white;
        
    }
    70% {
        top:40%;
        right:0;
         background: red;
    }
    80% {
        top:50%;
        right:0;
        background: white;
    }
    90% {
        top:75%;
        right:0;
         background: red;
    }
    100% {
        
        right:0;
        bottom:0;
        width:20em;
        height:10em;
       background: white;

    }
    
}
 
@keyframes emergency {
       0% {
        left: -50%;
        top: 50%;
        background: white;
    } 
    15% {
        left: 0;
        top:50%;
        background: red;
    }
    25% {
        top: 50;
        left: 15%;
        background: white;
    }
    50% {
        left:25%;
        top:50%;
         background: red;
    }
    60% {
        top:50%;
        left:35%;
        background: white;
        
    }
    70% {
        top:50%;
        left:45%;
         background: red;
    }
    80% {
        top:50%;
        left:50%;
        background: white;
    }
    90% {
        top:50%;
        left:45%;
         background: red;
    }
    100% {
        
        left:40%;
        top:50%;
        width:20em;
        height:10em;
       background: white;

    }
    
}
@-webkit-keyframes alert {
       0% {
        left: 0;
        top: 0;
        background: white;
    } 
    15% {
        left: 25%;
        top:0%;
        background: #d8457e;
    }
    25% {
        top: 0;
        left: 50%;
        background: white;
    }
    50% {
        top:0;
        right:0;
         background: #d8457e;
    }
    60% {
        top:25%;
        right:0;
        background: white;
        
    }
    70% {
        top:40%;
        right:0;
         background: #d8457e;
    }
    80% {
        top:50%;
        right:0;
        background: white;
    }
    90% {
        top:75%;
        right:0;
         background: #d8457e;
    }
    100% {
        
        right:0;
        bottom:0;
        width:20em;
        height:10em;
       background: white;

    }
}
@-moz-keyframes alert {
           0% {
        left: 0;
        top: 0;
        background: white;
    } 
    15% {
        left: 25%;
        top:0%;
        background: #d8457e;
    }
    25% {
        top: 0;
        left: 50%;
        background: white;
    }
    50% {
        top:0;
        right:0;
         background: #d8457e;
    }
    60% {
        top:25%;
        right:0;
        background: white;
        
    }
    70% {
        top:40%;
        right:0;
         background: #d8457e;
    }
    80% {
        top:50%;
        right:0;
        background: white;
    }
    90% {
        top:75%;
        right:0;
         background: #d8457e;
    }
    100% {
        
        right:0;
        bottom:0;
        width:20em;
        height:10em;
       background: white;

    }
    
}
 
@keyframes alert {
       0% {
        left: -50%;
        top: 50%;
        background: white;
    } 
    15% {
        left: 0;
        top:50%;
        background: #d8457e;
    }
    25% {
        top: 50;
        left: 15%;
        background: white;
    }
    50% {
        left:25%;
        top:50%;
         background: #d8457e;
    }
    60% {
        top:50%;
        left:35%;
        background: white;
        
    }
    70% {
        top:50%;
        left:45%;
         background: #d8457e;
    }
    80% {
        top:50%;
        left:50%;
        background: white;
    }
    90% {
        top:50%;
        left:45%;
         background: #d8457e;
    }
    100% {
        
        left:40%;
        top:50%;
        width:20em;
        height:10em;
       background: white;

    }
    
}
/*//  ERROR*/
@-webkit-keyframes error {
       0% {
        left: 0;
        top: 0;
        background: white;
    } 
    15% {
        left: 25%;
        top:0%;
        background: #f57722;
    }
    25% {
        top: 0;
        left: 50%;
        background: white;
    }
    50% {
        top:0;
        right:0;
         background: #f57722;
    }
    60% {
        top:25%;
        right:0;
        background: white;
        
    }
    70% {
        top:40%;
        right:0;
         background: #f57722;
    }
    80% {
        top:50%;
        right:0;
        background: white;
    }
    90% {
        top:75%;
        right:0;
         background: #f57722;
    }
    100% {
        
        right:0;
        bottom:0;
        width:20em;
        height:10em;
       background: white;

    }
}
@-moz-keyframes error {
           0% {
        left: 0;
        top: 0;
        background: white;
    } 
    15% {
        left: 25%;
        top:0%;
        background: #f57722;
    }
    25% {
        top: 0;
        left: 50%;
        background: white;
    }
    50% {
        top:0;
        right:0;
         background: #f57722;
    }
    60% {
        top:25%;
        right:0;
        background: white;
        
    }
    70% {
        top:40%;
        right:0;
         background: #f57722;
    }
    80% {
        top:50%;
        right:0;
        background: white;
    }
    90% {
        top:75%;
        right:0;
         background: #f57722;
    }
    100% {
        
        right:0;
        bottom:0;
        width:20em;
        height:10em;
       background: white;

    }
    
}
 
@keyframes error {
       0% {
        left: -50%;
        top: 50%;
        background: white;
    } 
    15% {
        left: 0;
        top:50%;
        background: #f57722;
    }
    25% {
        top: 50;
        left: 15%;
        background: white;
    }
    50% {
        left:25%;
        top:50%;
         background: #f57722;
    }
    60% {
        top:50%;
        left:35%;
        background: white;
        
    }
    70% {
        top:50%;
        left:45%;
         background: #f57722;
    }
    80% {
        top:50%;
        left:50%;
        background: white;
    }
    90% {
        top:50%;
        left:45%;
         background: #f57722;
    }
    100% {
        
        left:40%;
        top:50%;
        width:20em;
        height:10em;
       background: white;

    }
    
}
/* WARNING*/
@-webkit-keyframes warning {
       0% {
        left: 0;
        top: 0;
        background: white;
    } 
    15% {
        left: 25%;
        top:0%;
        background: #f5a933;
    }
    25% {
        top: 0;
        left: 50%;
        background: white;
    }
    50% {
        top:0;
        right:0;
         background: #f5a933;
    }
    60% {
        top:25%;
        right:0;
        background: white;
        
    }
    70% {
        top:40%;
        right:0;
         background: #f5a933;
    }
    80% {
        top:50%;
        right:0;
        background: white;
    }
    90% {
        top:75%;
        right:0;
         background: #f5a933;
    }
    100% {
        
        right:0;
        bottom:0;
        width:20em;
        height:10em;
       background: white;

    }
}
@-moz-keyframes warning {
           0% {
        left: 0;
        top: 0;
        background: white;
    } 
    15% {
        left: 25%;
        top:0%;
        background: #f5a933;
    }
    25% {
        top: 0;
        left: 50%;
        background: white;
    }
    50% {
        top:0;
        right:0;
         background: #f5a933;
    }
    60% {
        top:25%;
        right:0;
        background: white;
        
    }
    70% {
        top:40%;
        right:0;
         background: #f5a933;
    }
    80% {
        top:50%;
        right:0;
        background: white;
    }
    90% {
        top:75%;
        right:0;
         background: #f5a933;
    }
    100% {
        
        right:0;
        bottom:0;
        width:20em;
        height:10em;
       background: white;

    }
    
}
 
@keyframes warning {
       0% {
        left: -50%;
        top: 50%;
        background: white;
    } 
    15% {
        left: 0;
        top:50%;
        background: #f5a933;
    }
    25% {
        top: 50;
        left: 15%;
        background: white;
    }
    50% {
        left:25%;
        top:50%;
         background: #f5a933;
    }
    60% {
        top:50%;
        left:35%;
        background: white;
        
    }
    70% {
        top:50%;
        left:45%;
         background: #f5a933;
    }
    80% {
        top:50%;
        left:50%;
        background: white;
    }
    90% {
        top:50%;
        left:45%;
         background: #f5a933;
    }
    100% {
        
        left:40%;
        top:50%;
        width:20em;
        height:10em;
       background: white;

    }
    
}
/*NOTICE*/
@-webkit-keyframes notice {
       0% {
        left: 0;
        top: 0;
        background: white;
    } 
    15% {
        left: 25%;
        top:0%;
        background: #b1e441;
    }
    25% {
        top: 0;
        left: 50%;
        background: white;
    }
    50% {
        top:0;
        right:0;
         background: #b1e441;
    }
    60% {
        top:25%;
        right:0;
        background: white;
        
    }
    70% {
        top:40%;
        right:0;
         background: #b1e441;
    }
    80% {
        top:50%;
        right:0;
        background: white;
    }
    90% {
        top:75%;
        right:0;
         background: #b1e441;
    }
    100% {
        
        right:0;
        bottom:0;
        width:20em;
        height:10em;
       background: white;

    }
}
@-moz-keyframes notice {
           0% {
        left: 0;
        top: 0;
        background: white;
    } 
    15% {
        left: 25%;
        top:0%;
        background: #b1e441;
    }
    25% {
        top: 0;
        left: 50%;
        background: white;
    }
    50% {
        top:0;
        right:0;
         background: #b1e441;
    }
    60% {
        top:25%;
        right:0;
        background: white;
        
    }
    70% {
        top:40%;
        right:0;
         background: #b1e441;
    }
    80% {
        top:50%;
        right:0;
        background: white;
    }
    90% {
        top:75%;
        right:0;
         background: #b1e441;
    }
    100% {
        
        right:0;
        bottom:0;
        width:20em;
        height:10em;
       background: white;

    }
    
}
 
@keyframes notice {
       0% {
        left: -50%;
        top: 50%;
        background: white;
    } 
    15% {
        left: 0;
        top:50%;
        background: #b1e441;
    }
    25% {
        top: 50;
        left: 15%;
        background: white;
    }
    50% {
        left:25%;
        top:50%;
         background: #b1e441;
    }
    60% {
        top:50%;
        left:35%;
        background: white;
        
    }
    70% {
        top:50%;
        left:45%;
         background: #b1e441;
    }
    80% {
        top:50%;
        left:50%;
        background: white;
    }
    90% {
        top:50%;
        left:45%;
         background: #b1e441;
    }
    100% {
        
        left:40%;
        top:50%;
        width:20em;
        height:10em;
       background: white;

    }
    
}
/*INFO*/
@-webkit-keyframes info {
       0% {
        left: 0;
        top: 0;
        background: white;
    } 
    15% {
        left: 25%;
        top:0%;
        background: #73bc21;
    }
    25% {
        top: 0;
        left: 50%;
        background: white;
    }
    50% {
        top:0;
        right:0;
         background: #73bc21;
    }
    60% {
        top:25%;
        right:0;
        background: white;
        
    }
    70% {
        top:40%;
        right:0;
         background: #73bc21;
    }
    80% {
        top:50%;
        right:0;
        background: white;
    }
    90% {
        top:75%;
        right:0;
         background: #73bc21;
    }
    100% {
        
        right:0;
        bottom:0;
        width:20em;
        height:10em;
       background: white;

    }
}
@-moz-keyframes info {
           0% {
        left: 0;
        top: 0;
        background: white;
    } 
    15% {
        left: 25%;
        top:0%;
        background: #73bc21;
    }
    25% {
        top: 0;
        left: 50%;
        background: white;
    }
    50% {
        top:0;
        right:0;
         background: #73bc21;
    }
    60% {
        top:25%;
        right:0;
        background: white;
        
    }
    70% {
        top:40%;
        right:0;
         background: #73bc21;
    }
    80% {
        top:50%;
        right:0;
        background: white;
    }
    90% {
        top:75%;
        right:0;
         background: #73bc21;
    }
    100% {
        
        right:0;
        bottom:0;
        width:20em;
        height:10em;
       background: white;

    }
    
}
 
@keyframes notice {
       0% {
        left: -50%;
        top: 50%;
        background: white;
    } 
    15% {
        left: 0;
        top:50%;
        background: #73bc21;
    }
    25% {
        top: 50;
        left: 15%;
        background: white;
    }
    50% {
        left:25%;
        top:50%;
         background: #73bc21;
    }
    60% {
        top:50%;
        left:35%;
        background: white;
        
    }
    70% {
        top:50%;
        left:45%;
         background: #73bc21;
    }
    80% {
        top:50%;
        left:50%;
        background: white;
    }
    90% {
        top:50%;
        left:45%;
         background: #73bc21;
    }
    100% {
        
        left:40%;
        top:50%;
        width:20em;
        height:10em;
       background: white;

    }
    
}
/*DEBUG*/
@-webkit-keyframes debug {
       0% {
        left: 0;
        top: 0;
        background: white;
    } 
    15% {
        left: 25%;
        top:0%;
        background: #32a6c2;
    }
    25% {
        top: 0;
        left: 50%;
        background: white;
    }
    50% {
        top:0;
        right:0;
         background: #32a6c2;
    }
    60% {
        top:25%;
        right:0;
        background: white;
        
    }
    70% {
        top:40%;
        right:0;
         background: #32a6c2;
    }
    80% {
        top:50%;
        right:0;
        background: white;
    }
    90% {
        top:75%;
        right:0;
         background: #32a6c2;
    }
    100% {
        
        right:0;
        bottom:0;
        width:20em;
        height:10em;
       background: white;

    }
}
@-moz-keyframes debug {
           0% {
        left: 0;
        top: 0;
        background: white;
    } 
    15% {
        left: 25%;
        top:0%;
        background: #32a6c2;
    }
    25% {
        top: 0;
        left: 50%;
        background: white;
    }
    50% {
        top:0;
        right:0;
         background: #32a6c2;
    }
    60% {
        top:25%;
        right:0;
        background: white;
        
    }
    70% {
        top:40%;
        right:0;
         background: #32a6c2;
    }
    80% {
        top:50%;
        right:0;
        background: white;
    }
    90% {
        top:75%;
        right:0;
         background: #32a6c2;
    }
    100% {
        
        right:0;
        bottom:0;
        width:20em;
        height:10em;
       background: white;

    }
    
}
 
@keyframes debug {
       0% {
        left: -50%;
        top: 50%;
        background: white;
    } 
    15% {
        left: 0;
        top:50%;
        background: #32a6c2;
    }
    25% {
        top: 50;
        left: 15%;
        background: white;
    }
    50% {
        left:25%;
        top:50%;
         background: #32a6c2;
    }
    60% {
        top:50%;
        left:35%;
        background: white;
        
    }
    70% {
        top:50%;
        left:45%;
         background: #32a6c2;
    }
    80% {
        top:50%;
        left:50%;
        background: white;
    }
    90% {
        top:50%;
        left:45%;
         background: #32a6c2;
    }
    100% {
        
        left:40%;
        top:50%;
        width:20em;
        height:10em;
       background: white;

    }
    
}
.emergency {
    -webkit-animation-name: emergency;
    -webkit-animation-duration: 2s;
    -moz-animation-name: emergency;
    -moz-animation-duration: 2s;
    animation-name: emergency;
    animation-duration: 2s;
   
}
.alert {
  -webkit-animation-name: alert;
    -webkit-animation-duration: 2s;
    -moz-animation-name: alert;
    -moz-animation-duration: 2s;
    animation-name: alert;
    animation-duration: 2s;  
}
.error {
  -webkit-animation-name: error;
    -webkit-animation-duration: 2s;
    -moz-animation-name: error;
    -moz-animation-duration: 2s;
    animation-name: error;
    animation-duration: 2s;  
}
.warning {
  -webkit-animation-name: warning;
    -webkit-animation-duration: 2s;
    -moz-animation-name: warning;
    -moz-animation-duration: 2s;
    animation-name: warning;
    animation-duration: 2s;  
}
.notice {
  -webkit-animation-name: notice;
    -webkit-animation-duration: 2s;
    -moz-animation-name: notice;
    -moz-animation-duration: 2s;
    animation-name: notice;
    animation-duration: 2s;  
}
.info {
  -webkit-animation-name: info;
    -webkit-animation-duration: 2s;
    -moz-animation-name: info;
    -moz-animation-duration: 2s;
    animation-name: info;
    animation-duration: 2s;  
}
.debug {
  -webkit-animation-name: debug;
    -webkit-animation-duration: 2s;
    -moz-animation-name: debug;
    -moz-animation-duration: 2s;
    animation-name: debug;
    animation-duration: 2s;  
}